<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <title>Car-App <%= user.username %>'s Dashboard</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <main>
        <h1>Welcome <%= user.username %></h1>
    </main>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>