<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io Create New Manufacturer</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1>Edit Manufacturer</h1>
        <form action="/manufacturers/<%=manufacturer._id%>?_method=PUT" method="POST">
            Name<input type="text" name="name" value="<%=manufacturer.name%>"><br>
            Year Founded<input type="Number" name="yearFounded" value="<%=manufacturer.yearFounded%>"><br>
            Country<input type="text" name="country" value="<%=manufacturer.country%>"><br>
            Image Link<input type="text" name="image" value="<%=manufacturer.image%>"><br>
            <input type="submit" value="Submit Changes">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>