<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App Manufacturers Index Page</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1>List of Manufacturers</h1>
        <nav>
            <a href="/manufacturers/new">
                <button class="main-btn">Create</button></a>
        </nav>
        <ul>
            <% for(let i = 0; i < manufacturers.length; i++) { %>
            <li>
                <h2><%= manufacturers[i].name %></h2>
                <span>
                    <a href="/manufacturers/<%= manufacturers[i]._id %>">
                        <button class="main-btn">Show</button></a>
                </span>
                <span>
                    <a href="/manufacturers/<%=manufacturers[i]._id%>/edit">
                        <button class="main-btn">Edit</button></a>
                </span>
                <span>
                    <form action="/manufacturers/<%=manufacturers[i]._id%>?_method=DELETE" method="POST">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </span>
            </li>
            <img src="<%= manufacturers[i].image%>" alt="">
            <% } %>
        </ul>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>