<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io <%= manufacturer.name %></title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1><%= manufacturer.name %> Details</h1>
        <li>Name: <%= manufacturer.name %></li>
        <li>Year Founded: <%= manufacturer.yearFounded %></li>
        <li>Country: <%= manufacturer.country %></li><br>
        <img src="<%= manufacturer.image%>" alt="">

    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>