<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io <%= manufacturer.name %></title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1><%= manufacturer.name %> info page</h1>
        <section>
            <h2>Manufacturer Details:</h2>
            <ul>
                <li>Name: <%= manufacturer.name %></li>
                <li>Year Founded: <%= manufacturer.yearFounded %></li>
                <li>Country: <%= manufacturer.country %></li>
            </ul>
            <img src="<%= manufacturer.image%>" alt="">
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>