<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io Create New Car</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1>Create New Car</h1>
        <form action="/cars" method="POST">
            <input type="text" name="name" placeholder="Name">
            <label>
                <select name="manufacturer">
                    <% manufacturers.forEach(manufacturer => { %>
                    <option value="<%= manufacturer.name%>">
                        <%= manufacturer.name %>
                    </option>
                    <% }); %>
                </select>
            </label><br>
            <input type="number" name="year" placeholder="Year"><br>
            <input type="text" name="color" placeholder="Color"><br>
            <input type="number" name="horsepower" placeholder="Horse Power"><br>
            <input type="text" name="transmissionType" placeholder="Transmission Type"><br>
            <input type="text" name="image" placeholder="Image Link"><br>
            <input type="submit" value="Create Car">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>