<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io <%= car.name %></title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1><%= car.name %> Details</h1>
        <li>Manufacturer: <%= car.manufacturer %></li><br>
        <li>Year: <%= car.year %></li><br>
        <li>Color: <%= car.color %></li><br>
        <li>Horse Power: <%= car.horsepower %></li><br>
        <li>Transmission Type: <%= car.transmissionType %></li><br>
        <img src="<%= car.image %>" alt=""><br>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>