<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car-App.io <%= car.name %></title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/cars">Cars</a>
        </nav><br>
        <h1><%= car.name %></h1>
    </header>
    <main>
        <li>Manufacturer: <%= car.manufacturer %></li><br>
        <li>Year: <%= car.year %></li><br>
        <li>Color: <%= car.color %></li><br>
        <li>Horse Power: <%= car.horsepower %></li><br>
        <li>Transmission Type: <%= car.transmissionType %></li><br>

    </main>
</body>
</html>